@page
@using Microsoft.Extensions.Localization
@using Kar.Web3.Eth.Localization
@using Kar.Web3.Eth.Web.Pages.Eth
@model Kar.Web3.Eth.Web.Pages.Eth.IndexModel
@inject IStringLocalizer<EthResource> L

@{
}
<h1>Eth</h1>
<p>@L["SamplePageMessage"]</p>
